* {
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #51505c;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.list-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 120px;
}

.list-blocks {
  width: 200px;
  margin-top: 150px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.list-blocks :last-child {
  animation: 4000ms infinite alternate block-animation;
  animation-timing-function: linear;
}

@keyframes block-animation {
  from {
    transform: translateX(-250px);
  }

  to {
    transform: translateX(250px);
  }
}

.list-blocks button {
  margin-top: 60px;
  height: 40px;
  border: 1px solid rgb(157, 188, 111);
  background-color: rgb(219, 255, 164);
}

.block-wrapper {
  width: 200px;
  height: 40px;
  display: block;
  position: relative;
  background-color: #3e3f46;
  z-index: var(--i);
}

.block-static {
  min-height: 300px;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgb(42, 43, 48, 1), rgb(42, 43, 48, 0));;
}

.block-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: -119px;
  height: 100%;
  width: 120px;
  background-color: #2e3133;
  transform-origin: right;
  transform: skewY(30deg);
}

.block-static::before {
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(35, 37, 38, 1), rgb(35, 37, 38, 0));
}

.block-wrapper::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 69px;
  top: -68.8px;
  left: 0;
  background-color: #35383e;
  transform-origin: bottom;
  transform: skewX(60deg);
}

.block-static::after {
  background-color: #27292d;
}

footer {
  position: relative;
}
