* {
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #f3f3f3;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.list-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 120px;
}

.list-blocks {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-blocks button {
  margin-top: 60px;
  height: 40px;
  border: 1px solid rgb(157, 188, 111);
  background-color: rgb(219, 255, 164);
}

.block-wrapper {
  min-width: 200px;
  min-height: 40px;
  background-color: rgb(156, 156, 255);
  border: 1px solid rgb(86, 86, 188);
}
