* {
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #f3f3f3;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.list-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 120px;
}

.list-blocks {
  width: 200px;
  margin-top: 150px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.list-blocks :last-child {
  animation: 4000ms infinite alternate block-animation;
  animation-timing-function: linear;
}

@keyframes block-animation {
  from {
    transform: translateX(-230px);
  }

  to {
    transform: translateX(230px);
  }
}

.list-blocks button {
  margin-top: 60px;
  height: 40px;
  border: 1px solid rgb(157, 188, 111);
  background-color: rgb(219, 255, 164);
}

.block-wrapper {
  width: 200px;
  height: 40px;
  position: relative; 
  background-color: rgb(156, 156, 255);
  border: 1px solid rgb(86, 86, 188);
  transform: skewY(-15deg) translateX(50px) translateY(50px);
}


footer {
  position: relative;
}
